config.h
config.log*
config.cache
Makefile.config
rdkafka*.pc
*~
\#*
*.o
*.so
*.so.?
*.dylib
*.a
*.d
librdkafka*.lds
core
vgcore.*
*dSYM/
*.offset
SOURCES
gmon.out
*.gz
*.tgz
*.bz2
*.deb
*.rpm
staging-docs
tmp
stats*.json
test_report*.json
cov-int
gdbrun*.gdb
TAGS
vcpkg_installed
*tmp-KafkaCluster*

# Benchmark outputs
benchmark_output/
test_output*/
tests/*.csv
tests/stats_dump_*.json
benchmarks/*.png
benchmarks/test_output*/
benchmarks/multibatch*/
latency_graphs.png
